h1{
    color:beige;
}
 body{
    background-color: rgb(39, 3, 3);
    color: rgb(0,255,0);
 }
 button {
    color:blueviolet;
    background-color: bisque;
 }
 p{
    COLOR:RED
 }
#head1{
    color:yellow;
}
#002{
    color:antiquewhite;
}
div{
    background-color: blue;
}
Heading{
    color:red
}
button-2{
    background-color: green;
}
.Heading{
    color:red
}

#box {
    background-color: blue;
}

